.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.btn-group button {
    width: 343px;
    height: 51px;
    border-radius: 100px; 
  
    margin-top:16px;    

    font-size: 16px;
    font-weight: 600;
  }
  
  .btn-calcular {
    background-color: #45fefe;
    border: none;
  }
  
  .btn-entenda {
    background-color: transparent !important;
    border: #45fefe 2px solid;
  }
  