.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 100px;
}

.header-logo span {
  margin: 0 auto;

  width: auto;
  height: auto;
  
  background-color: #fff;
  
  border: 3px solid #45fefe;
  border-radius: 20px;
  padding: 10px; 

  position: absolute;
  z-index: 1;
  
}

.header-logo img { 

  width: 70px;
  height: 70px;
}